.app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  color: $text-color;
  background: $body-bg;
}

.app-content {
  padding-top: $spacer;
  padding-bottom: $spacer;

  flex: 1;
}

.blockquote p {
  font-style: italic;
}

.card-title {
  color: $ui-primary;
}
