.project-list {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: space-around;

  > li {
    overflow-x: hidden;

    width: 300px;
  }
}

.project-list-meta {
  font-size: $font-size-sm;
  font-weight: bold;

  text-transform: uppercase;

  color: #999999;

  a {
    color: #999999;
  }
}
