//------------------------------------------------------------------------------
// Timeline
//------------------------------------------------------------------------------

.timeline {
  position: relative;

  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em 0;

  list-style: none;

  &:before {
    position: absolute;
    top: 0;
    left: 18px;

    width: 4px;
    height: 100%;

    content: "";

    opacity: .25;
    background: $ui-primary;
  }
}

@include media-breakpoint-up(md) {
  .timeline {
    margin-top: 3em;
    margin-bottom: 3em;

    &:before {
      left: 50%;

      margin-left: -2px;
    }
  }
}

//------------------------------------------------------------------------------
// Timeline item
//------------------------------------------------------------------------------

.timeline-item {
  position: relative;

  margin: 2em 0;

  &:after {
    display: table;
    clear: both;

    content: "";
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  .timeline-item {
    margin: ($spacer * 3) 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//------------------------------------------------------------------------------
// Timeline image
//------------------------------------------------------------------------------

.timeline-item-image {
  position: absolute;
  top: 0;

  width: ($spacer * 1.375);
  height: ($spacer * 1.375);
  margin-left: (($spacer * 1.375) / 2);

  border-radius: 50%;
  background: lighten($ui-primary, 25%);
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, .08), 0 3px 0 4px rgba(0, 0, 0, .05);

  img {
    position: relative;
    top: 50%;
    left: 50%;

    display: block;

    width: ($spacer * 1.375);
    height: ($spacer * 1.375);
  }
}

@include media-breakpoint-up(md) {
  .timeline-item-image {
    left: 50%;

    margin-left: -(($spacer * 1.375) / 2);
  }
}

//------------------------------------------------------------------------------
// Timeline content
//------------------------------------------------------------------------------

.timeline-item-content {
  @include clearfix();

  position: relative;

  margin-left: 60px;
  padding: 1em;

  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .24);

  h2 {
    font-size: $h4-font-size;

    margin-top: 0;
  }

  p {
    font-style: italic;
  }
}

.timeline-item-date {
  font-weight: bold;

  display: inline-block;
  float: left;

  text-transform: uppercase;

  opacity: .4;
  color: $gray-light;
}

@include media-breakpoint-up(md) {
  .timeline-item-content {
    width: 45%;
    margin-left: 0;
  }

  .timeline-item-date {
    font-size: $h4-font-size;

    position: absolute;
    top: 0;
    left: 122%;

    width: 100%;
  }

  .timeline-item:nth-child(even) .timeline-item-content {
    float: right;
  }

  .timeline-item:nth-child(even) .timeline-item-date {
    right: 122%;
    left: auto;

    text-align: right;
  }
}
