code,
pre {
  font-family: var(--font-monospace);
  hyphens: none;
  line-height: 1.5;
  text-align: left;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  white-space: pre;
  background: none;
  word-spacing: normal;
}

/* Code blocks */
pre {
  max-width: calc(100vw - 2rem);
  padding: 1em;
  margin: 2rem 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code,
pre {
  background-color: var(--surface-02dp);
}

/* Inline code */
:not(pre) > code {
  padding: 0.1em;
  white-space: normal;
  border-radius: 0.3em;
}
