body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  background-color: var(--background);
  color: var(--text-high-emphasis);
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(var(--primary),var(--primary)) no-repeat;
  background-size: 100% 1px;
  background-position: 0 97.5%;
  transition: all .25s ease-out;
}

a:hover {
  color: var(--primary-variant);
  background: linear-gradient(var(--primary-variant),var(--primary-variant)) no-repeat;
  background-size: 100% 1px;
  background-position: 0 97.5%;
  text-decoration: none;
}

a:not([href], [class]),
a:not([href], [class]):hover {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-high-emphasis);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}

h5,.h5 {
  font-size: 1.25rem;
}

h6,.h6 {
  font-size: 1rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid #ddd;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-unstyled {
  list-style-type: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}
