.bg-background {
  background-color: var(--background);
  color: var(--text-high-emphasis);
}

.bg-surface {
  background-color: var(--surface);
  color: var(--text-high-emphasis);
}

.bg-surface-dp {
  background-color: var(--surface-02dp);
}

.text-primary {
  color: var(--primary);
}

.text-primary-variant {
  color: var(--primary-variant);
}

.text-secondary {
  color: var(--secondary);
}

.text-secondary-variant {
  color: var(--secondary-variant);
}

.text-high-emphasis {
  color: var(--text-high-emphasis);
}

.text-medium-emphasis {
  color: var(--text-medium-emphasis);
}

.text-disabled {
  color: var(--text-disabled);
}
