<footer class="page-footer">
  <div class="container py-3">
    <ul class="flex my-3">
      {% set navPages = collections.all | eleventyNavigation %}
      {% for entry in navPages %}
        <li class="pr-5">
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {% endfor %}
        <li class="ml-auto pr-5">
          <a href="https://github.com/geerteltink">GitHub</a>
        </li>
        <li class="pr-5">
          <a href="https://twitter.com/geerteltink">Twitter</a>
        </li>
        <li class="pr-5">
          <a href="https://www.instagram.com/geerteltink">Instagram</a>
        </li>
    </ul>
    <div>You can subscribe to the <a href="/feed.xml">RSS feed</a> and stay up to date.</div>
    <div>
      Copyright © 2002-{% year %} Geert Eltink •
      <a href="/privacy-policy/">Privacy Policy</a> •
      <a href="/style-guide/">Style guide</a> •
      Made with HTML, CSS and generated with eleventy.
    </div>
  </div>
</footer>
