<header class="page-header p-3">
  <nav class="container">
    <ul class="flex">
      <li class="pr-3">
        <a class="text-decoration-none text-primary" href="/" aria-label="logo">
          <div class="h4 text-bold">Geert Eltink</div>
          <div class="h6">Software Engineer</div>
        </a>
      </li>
      {% set navPages = collections.all | eleventyNavigation %}
      {% for entry in navPages %}
      <li class="flex-align-end px-3">
        <a href="{{ entry.url | url }}" class="h4 text-decoration-none text-primary">{{ entry.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
