---
layout: base.njk
---

<main class="page-main bg-surface">
  <div class="container">
    <h1>{{ title }}</h1>
    <p><time datetime="{{ page.date | isoDate }}" class="text-low-emphasis">({{ page.date | readableDate }})</time></p>
    {{ content | safe }}
  </div>
</main>
