/**
 * The height must be set on its parent element.
 * Multiple child elements must be wrapped in a div.
 *
 * <body style="height:98vh;">
 *   <main class="container-center">
 *     <div>
 *       <h1>h1</h1>
 *       <p>text</p>
 *     </div>
 *   </main>
 * </body>
 */
.container-center {
    display: flex;

    height: 100%;

    align-items: center;
    justify-content: center;
}
