/**
 * Use https://icomoon.io/ to generate the icons file
 */

.icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    fill: currentColor;
    vertical-align: text-top;
}

.icon-logo {
    background-color: #ff4f00;
    color: #ffffff;
}
