.project-list {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-around;

    > li {
        overflow-x: hidden;

        width: 300px;
    }
}

.project-list-meta {
    font-size: $font-size-xs;
    font-weight: bold;

    text-transform: uppercase;

    color: #999;

    a {
        color: #999;
    }
}
