{% extends '@layout/default.html.twig' %}
{% set disable_social_meta = true %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
    <h1 class="h2 text-muted m-t-3">Page Not Found</h1>
    <h2 class="h1 m-y-2">Oops! Looks like you followed a bad link.</h2>
    <p>
        If you think this is a problem on our site, please <a href="{{ path('contact') }}">tell us</a>.
    </p>
    <p>
        You are looking for something that doesn't exist or may have moved.
        Check out our <a href="{{ path('home') }}">home page</a> instead.
    </p>
{% endblock %}
