.m-1 {
  margin: var(--space-3xs) !important;
}

.m-2 {
  margin: var(--space-2xs) !important;
}

.m-3 {
  margin: var(--space-s) !important;
}

.m-4 {
  margin: var(--space-m) !important;
}

.m-5 {
  margin: var(--space-xl) !important;
}

.m-auto {
  margin: auto !important;
}

.mx-1 {
  margin-right: var(--space-3xs) !important;
  margin-left: var(--space-3xs) !important;
}

.mx-2 {
  margin-right: var(--space-2xs) !important;
  margin-left: var(--space-2xs) !important;
}

.mx-3 {
  margin-right: var(--space-s) !important;
  margin-left: var(--space-s) !important;
}

.mx-4 {
  margin-right: var(--space-m) !important;
  margin-left: var(--space-m) !important;
}

.mx-5 {
  margin-right: var(--space-xl) !important;
  margin-left: var(--space-xl) !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-1 {
  margin-top: var(--space-3xs) !important;
  margin-bottom: var(--space-3xs) !important;
}

.my-2 {
  margin-top: var(--space-2xs) !important;
  margin-bottom: var(--space-2xs) !important;
}

.my-3 {
  margin-top: var(--space-s) !important;
  margin-bottom: var(--space-s) !important;
}

.my-4 {
  margin-top: var(--space-m) !important;
  margin-bottom: var(--space-m) !important;
}

.my-5 {
  margin-top: var(--space-xl) !important;
  margin-bottom: var(--space-xl) !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-1 {
  margin-top: var(--space-3xs) !important;
}

.mt-2 {
  margin-top: var(--space-2xs) !important;
}

.mt-3 {
  margin-top: var(--space-s) !important;
}

.mt-4 {
  margin-top: var(--space-m) !important;
}

.mt-5 {
  margin-top: var(--space-xl) !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-1 {
  margin-right: var(--space-3xs) !important;
}

.mr-2 {
  margin-right: var(--space-2xs) !important;
}

.mr-3 {
  margin-right: var(--space-s) !important;
}

.mr-4 {
  margin-right: var(--space-m) !important;
}

.mr-5 {
  margin-right: var(--space-xl) !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-1 {
  margin-bottom: var(--space-3xs) !important;
}

.mb-2 {
  margin-bottom: var(--space-2xs) !important;
}

.mb-3 {
  margin-bottom: var(--space-s) !important;
}

.mb-4 {
  margin-bottom: var(--space-m) !important;
}

.mb-5 {
  margin-bottom: var(--space-xl) !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-1 {
  margin-left: var(--space-3xs) !important;
}

.ml-2 {
  margin-left: var(--space-2xs) !important;
}

.ml-3 {
  margin-left: var(--space-s) !important;
}

.ml-4 {
  margin-left: var(--space-m) !important;
}

.ml-5 {
  margin-left: var(--space-xl) !important;
}

.ml-auto {
  margin-left: auto !important;
}

.p-1 {
  padding: var(--space-3xs) !important;
}

.p-2 {
  padding: var(--space-2xs) !important;
}

.p-3 {
  padding: var(--space-s) !important;
}

.p-4 {
  padding: var(--space-m) !important;
}

.p-5 {
  padding: var(--space-xl) !important;
}

.px-1 {
  padding-right: var(--space-3xs) !important;
  padding-left: var(--space-3xs) !important;
}

.px-2 {
  padding-right: var(--space-2xs) !important;
  padding-left: var(--space-2xs) !important;
}

.px-3 {
  padding-right: var(--space-s) !important;
  padding-left: var(--space-s) !important;
}

.px-4 {
  padding-right: var(--space-m) !important;
  padding-left: var(--space-m) !important;
}

.px-5 {
  padding-right: var(--space-xl) !important;
  padding-left: var(--space-xl) !important;
}

.py-1 {
  padding-top: var(--space-3xs) !important;
  padding-bottom: var(--space-3xs) !important;
}

.py-2 {
  padding-top: var(--space-2xs) !important;
  padding-bottom: var(--space-2xs) !important;
}

.py-3 {
  padding-top: var(--space-s) !important;
  padding-bottom: var(--space-s) !important;
}

.py-4 {
  padding-top: var(--space-m) !important;
  padding-bottom: var(--space-m) !important;
}

.py-5 {
  padding-top: var(--space-xl) !important;
  padding-bottom: var(--space-xl) !important;
}

.pt-1 {
  padding-top: var(--space-3xs) !important;
}

.pt-2 {
  padding-top: var(--space-2xs) !important;
}

.pt-3 {
  padding-top: var(--space-s) !important;
}

.pt-4 {
  padding-top: var(--space-m) !important;
}

.pt-5 {
  padding-top: var(--space-xl) !important;
}

.pr-1 {
  padding-right: var(--space-3xs) !important;
}

.pr-2 {
  padding-right: var(--space-2xs) !important;
}

.pr-3 {
  padding-right: var(--space-s) !important;
}

.pr-4 {
  padding-right: var(--space-m) !important;
}

.pr-5 {
  padding-right: var(--space-xl) !important;
}

.pb-1 {
  padding-bottom: var(--space-3xs) !important;
}

.pb-2 {
  padding-bottom: var(--space-2xs) !important;
}

.pb-3 {
  padding-bottom: var(--space-s) !important;
}

.pb-4 {
  padding-bottom: var(--space-m) !important;
}

.pb-5 {
  padding-bottom: var(--space-xl) !important;
}

.pl-1 {
  padding-left: var(--space-3xs) !important;
}

.pl-2 {
  padding-left: var(--space-2xs) !important;
}

.pl-3 {
  padding-left: var(--space-s) !important;
}

.pl-4 {
  padding-left: var(--space-m) !important;
}

.pl-5 {
  padding-left: var(--space-xl) !important;
}
