{{ define "title" }} {{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<main class="app-content">
  <article>
    {{ partial "article/header" . }}
    <div class="container">
      <dl class="float-right font-smaller text-muted ml-5 mb-5">
        <dt>Reading time:</dt>
        <dd>
          {{ .ReadingTime }} minutes
        </dd>
        <dt>Published:</dt>
        <dd>
          <time datetime="{{.Date.Format "2006-01-02T15:04:05Z07:00"}}" aria-label="published">{{.Date.Format "January 2, 2006"}}</time>
        </dd>
        {{ if not (eq .Lastmod .Date) }}
        <dt>Modified:</dt>
        <dd>
          <time datetime="{{.Lastmod.Format "2006-01-02T15:04:05Z07:00"}}" aria-label="Modified">{{.Lastmod.Format "January 2, 2006"}}</time>
        </dd>
        {{ end }}
        <dt>Tags:</dt>
        {{ range .Params.tags }}
          <dd>
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="text-muted">{{ . | urlize }}</a>
          </dd>
        {{ end }}
      </dl>
      {{ .Content }}
    </div>
    <footer class="container">
        <ul class="nav justify-content-between my-4">
            {{ with .PrevInSection }}
            <li class="nav-item">
                <a class="nav-link" href="{{.Permalink}}">&larr; {{.Title}}</a>
            </li>
            {{ end }}
            {{ with .NextInSection }}
            <li class="nav-item">
                <a class="nav-link" href="{{.Permalink}}">{{.Title}} &rarr;</a>
            </li>
            {{ end }}
        </ul>
        {{ template "_internal/disqus.html" . }}
    </footer>
  </article>
</main>
{{ end }}
