{% extends '@layout/default.html.twig' %}

{% block title %}Contact{% endblock %}
{% block subtitle %}Leave a message.{% endblock %}

{% block content %}
    <div class="flex-container" style="height:25vh;">
        <div class="flex-row">
            <h2 class="flex-item">Thank you!</h2>
            <p class="flex-item">
                Your message has been sent!
            </p>
        </div>
    </div>
{% endblock %}
