{% extends '@layout/default.html.twig' %}

{% block title %}XtreamWayz{% endblock %}
{% block subtitle %}Extreme ways are back again... Extreme ways that help me...{% endblock %}

{% block content %}
    <div class="container-center" style="margin-top:3rem;margin-bottom:3rem;">
        <div class="media">
            <div class="media-left">
                <img class="img-circle" height="96" width="96" src="/assets/img/avatar_8bit.jpg"/>
            </div>
            <div class="media-body">
                <h2 class="media-heading">
                    Geert Eltink
                </h2>
                <p class="h5">
                    Building web applications since 1999.
                </p>
                <p class="text-muted">
                    #full-stack #web #developer
                </p>
            </div>
        </div>
    </div>

    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <i class="icon icon-design"></i> Design
                    </h4>
                    <p class="card-text">
                        Great looking designs will be created which will meat your expectations. On a regular basis
                        they will be reviewed with you.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <i class="icon icon-code"></i> Development
                    </h4>
                    <p class="card-text">
                        We will code the application conform industry standards and with the latest techniques.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <i class="icon icon-cloud-upload"></i> Deployment
                    </h4>
                    <p class="card-text">
                        We can deploy the code for you, setup the server for you and even maintain it.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
