{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="info">
                <h2>
                    Geert Eltink
                </h2>
                <p>
                    Building web applications since 1999. Wanna-be open source contributor.
                    <span class="text-muted">#full-stack #web #developer</span>
                </p>
                <blockquote class="blockquote">
                    <p>Simplicity is the ultimate sophistication.</p>
                </blockquote>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info">
                <h2>
                    Get in touch
                </h2>
                <div class="row">
                    <div class="col-sm-4">
                        <img alt="" class="img-circle" height="128" width="128" src="/assets/img/avatar_8bit.jpg" />
                    </div>
                    <div class="col-sm-8">
                        <ul class="nav">
                            <li>
                                <a href="https://twitter.com/xtreamwayz" title="Contact me on Twitter">
                                    <i class="icon icon-twitter"></i> Twitter
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/xtreamwayz" title="Follow me on GitHub">
                                    <i class="icon icon-github"></i> GitHub
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
