{% extends '@layout/default.html.twig' %}

{% block title %}xtreamwayz{% endblock %}
{% block subtitle %}Building web applications since 1999.{% endblock %}

{% block content %}
    <div class="flex-container" style="margin-top:3rem;margin-bottom:3rem;">
        <div class="media">
            <div class="media-left">
                <img class="img-circle" height="96" width="96" src="/assets/img/avatar.jpg" />
            </div>
            <div class="media-body">
                <h2 class="media-heading">Geert Eltink</h2>
                <ul class="list-unstyled h5">
                    <li>Web developer since 1999.</li>
                    <li>Challenged by refactoring legacy code.</li>
                    <li>Loves to work with PHP and JavaScript.</li>
                </ul>
                <p class="text-muted">
                    #full-stack #web #developer
                </p>
            </div>
        </div>
    </div>

    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-xs-center">
                        <svg class="icon icon-rss">
                            <use xlink:href="{{ asset('assets/img/icons.svg') }}#icon-design"></use>
                        </svg>
                        Design
                    </h4>
                    <p class="card-text">
                        Great looking designs will be created which will meet your expectations. On a regular basis
                        they will be reviewed with you. Responsive web design (RWD) is something we take seriously
                        and will use by default.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-xs-center">
                        <svg class="icon icon-rss">
                            <use xlink:href="{{ asset('assets/img/icons.svg') }}#icon-code"></use>
                        </svg>
                        Development
                    </h4>
                    <p class="card-text">
                        Whether it's the front-end, back-end or both, we will use the latest industry standards and
                        techniques.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-xs-center">
                        <svg class="icon icon-rss">
                            <use xlink:href="{{ asset('assets/img/icons.svg') }}#icon-upload"></use>
                        </svg>
                        Deployment
                    </h4>
                    <p class="card-text">
                        We can deploy the code for you, setup the server for you and even maintain it. Also
                        performing regular content updates can be done for you.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
