{# https://stuffandnonsense.co.uk/projects/protection-racket #}
{% extends '@layout/default.html.twig' %}

{% block title %}Privacy policy{% endblock %}
{% block subtitle %}We value your privacy as much as we do our own.{% endblock %}

{% block content %}
    <p>
        We respect your privacy and this policy explains how we collect and treat any information you give us. You
        won’t find any complicated legal terms or long passages of unreadable text. We’ve no desire to trick you into
        agreeing to something you might later regret.
    </p>

    <h2>Our policy covers</h2>
    <ol>
        <li>Why we value your privacy</li>
        <li>How we collect information</li>
        <li>How we use Cookies</li>
        <li>What information we hold</li>
        <li>Where we store your information</li>
        <li>What we use your information for</li>
        <li>Who’s responsible for your information at our company</li>
        <li>Who has access to information about you</li>
        <li>The steps we take to keep your information private</li>
        <li>How to complain</li>
        <li>Changes to the policy</li>
    </ol>

    <h2>Why we value your privacy</h2>
    <p>
        We value your privacy as much as we do our own, so we’re committed to keeping your personal and business
        information safe. We’re uncomfortable with the information companies, governments, and other organisations
        keep on file, so we ask for only the bare minimum from our customers. We’ll never use your personal
        information for any reason other than why you gave it, and we’ll never give anyone access to it unless
        we’re forced to by law.
    </p>

    <h2>How we collect information</h2>
    <p>
        We ask for contact information including your name, email address, and phone number, on our website so that
        we can reply to your enquiry.
    </p>
    <p>
        We collect your email address when you sign up for one of our newsletters.
    </p>
    <p>
        We ask for your account and contact information when you hire or buy something from us.
    </p>
    <p>
        Occasionally, we might receive your contact information from one of our partners. If we do, we protect it in
        exactly the same way as if you give it to us directly.
    </p>
    <p>
        We measure visitors to our website using Google Analytics. This records what pages you view within our site,
        how you arrived at our site and some basic information about your computer. All of that information is
        anonymous – so we don’t know who you are; just that somebody visited our site. The information we collect
        from analytics helps us understand what parts of our sites are doing well, how people arrive at our site and
        so on. Like most websites, we use this information to make our website better.
        You can learn more about <a href="http://www.google.com/analytics/learn/privacy.html">Google Analytics</a> or
        <a href="https://tools.google.com/dlpage/gaoptout">opt out</a> if you wish.
    </p>
    <p>
        We use <a href="https://help.disqus.com/customer/portal/articles/466259-privacy-policy">Disqus</a> for
        the commenting system on our blog.
    </p>

    <h2>How we use Cookies</h2>
    <p>
        We use cookies to authenticate users, prevent fraudulent use of login credentials, and protect user data from
        unauthorized parties.
    </p>

    <h2>What information we hold</h2>
    <p>
        When you contact us by email or through our website, we collect your name, email address, phone number and the
        company you work for, if you’ve given us that.
    </p>
    <p>
        If you sign up for a newsletter, we only collect your email address.
    </p>
    <p>
        When you buy something from us, we collect your name, email address, phone number, and a delivery address.
    </p>
    <p>
        If you do business with us, we also collect your business name and bank details and keep records of the
        invoices we send you and the payments you make.
    </p>
    <p>
        All invoicing is handled by Harvest and money transfers are processed by our bank or PayPal. We never have
        access to your credit card information.
    </p>

    <h2>Where we store your information</h2>
    <p>
        If you sign up for a newsletter, we store your email address in MailChimp, which is the marketing platform we
        prefer. If we do business, we store your information in Harvest, our accounts software offline. We chose these
        systems partly for their commitment to security.
    </p>

    <h2>What we use your information for</h2>
    <p>
        We occasionally use your contact information to send you details of our products and services. When we do,
        you have the option to unsubscribe from these communications and we won’t send them to you again. We might
        also email or phone you about our products and services, but if you tell us not to, we won’t get in touch
        again. We will use your information to send you invoices, statements, or reminders.
    </p>

    <h2>Who’s responsible for your information at our company</h2>
    <p>
        Geert Eltink, our Managing director, is responsible for the security of your information. You can contact
        him via our <a href="{{ path('contact') }}">contact form</a> if you have any concerns about the information
        we store.
    </p>

    <h2>Who has access to information about you</h2>
    <p>
        When we store information in our own systems, only the people who need it have access. Our management team
        have access to everything you’ve provided, but individual employees have access to only what they need to do
        their job.
    </p>

    <h2>The steps we take to keep your information private</h2>
    <p>
        Where we store your information in third-party services, we restrict access only to people who need it. We
        store passwords in 1Password, an encrypted password manager, use a different, randomly generated password for
        each service, and never use the same password twice.
    </p>
    <p>
        The computers we use are all encrypted using Bitlocker and are protected by a passcode or fingerprint
        access. These computers ask for authentication whenever they’re started or after 5 minutes of inactivity.
        Our mobile devices are also protected by a fingerprint or facial recognition.
    </p>

    <h2>How to complain</h2>
    <p>
        We take complaints very seriously. If you’ve any reason to complain about the ways we handle your privacy,
        please contact us via our <a href="{{ path('contact') }}">contact form</a>.
    </p>

    <h2>Changes to the policy</h2>
    <p>
        If we change the contents of this policy, those changes will become effective the moment we publish them on
        our website. Please review this document especially before you provide any information. Your continued use
        of our services after any changes or revisions to this Privacy Policy indicates your agreement with the
        terms of that revised Privacy Policy.
    </p>
{% endblock %}
