{{ define "title" }} {{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<main class="app-content">
  <article>
    {{ partial "article/header" . }}
    <div class="container">{{ .Content }}</div>
  </article>
  <ul class="container list list-unstyled">
    <!-- Ranges through content/posts/*.md -->
    {{ range (.Paginator 10).Pages.ByDate.Reverse }}
    <li class="mb-3">
      <h2 class="article__heading">
        <a href="{{.Permalink}}">{{.Title}}</a>
      </h2>
    </li>
    {{ end }}
  </ul>
  <div class="container">{{ template "_internal/pagination.html" . }}</div>
</main>
{{ end }}
