{{ define "main" }}
<main class="app-content">
  <article>
    <header class="bg-primary text-light mb-5">
      <div class="container h-100">
        <div class="row align-items-center h-100" style="min-height: 20vh;">
          <div class="col-10 mx-auto text-center">
            <h1>{{ .Title }}</h1>
            {{ with.Params.subtitle }}
            <span class="subtitle">{{.}}</span>
            {{ end }}
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      {{ .Content }}
    </div>
  </article>
  <ul class="container list list-unstyled">
    <!-- Ranges through content/posts/*.md -->
    {{ range (.Paginator 10).Pages.ByDate.Reverse }}
    <li class="mb-3">
      <h2 class="article__heading">
        <a href="{{.Permalink}}">{{.Title}}</a>
      </h2>
    </li>
    {{ end }}
  </ul>
  <div class="container">
    {{ template "_internal/pagination.html" . }}
  </div>
</main>
{{ end }}
