.app {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    color: $text-color;
    background: $body-bg;
}

.app-hero {
    min-height: 196px;

    color: $header-color;
    background: $footer-bg url("/assets/img/banner-background.jpg?v=#{$core-version}") no-repeat center center;
    background-size: cover;

    h1 {
        font-size: 3vw;

        text-transform: uppercase;
    }

    p {
        font-size: 1.3rem;
        font-style: italic;
    }
}

.app-hero-text {
    display: flex;

    min-height: 160px;

    align-items: center;
    justify-content: flex-start;
}

.app-content {
    padding: $spacer 0;

    flex: 1;
}

.app-footer {
    padding: $spacer 0;

    color: $footer-color;
    background-color: $footer-bg;

    a,
    .breadcrumbs,
    .linklist {
        color: $footer-color;
    }

    p {
        margin-bottom: 0;
    }
}

.blockquote p {
    font-style: italic;
}

.card-title {
    color: $ui-primary;
}
