.app {
  background: $body-bg;
  color: $text-color;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-hero {
  min-height: 196px;

  background: $footer-bg url("/assets/img/banner-background.jpg?v=${core-version}") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: $header-color;

  h1 {
    text-transform: uppercase;
  }

  a {
    color: $header-color;
  }
}

.app-hero-text {
  min-height: 160px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app-content {
  flex: 1;
  padding: $spacer 0;
}

.app-footer {
  background-color: $footer-bg;
  color: $footer-color;

  padding: $spacer 0;

  a,
  .breadcrumbs,
  .linklist {
    color: $footer-color;
  }

  p {
    margin-bottom: 0;
  }
}

.blockquote p {
  font-style: italic;
}