---
import { getCollection } from 'astro:content';
import RelativeDate from '~/components/RelativeDate.astro';
import Layout from '~/layouts/Layout.astro';

const notes = (await getCollection('notes')).sort(
  (a, b) => b.data.started.valueOf() - a.data.started.valueOf()
);
---

<Layout title="Notes by Geert Eltink" description="My notes">
  <section>
    <ul>
      {
        notes.map((note) => (
          <li>
            <h2>
              <a href={`/notes/${note.slug}`}>{note.data.title}</a>
            </h2>
            <div>
              <RelativeDate date={note.data.started} />
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
</style>
