---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

const notes = (await getCollection('notes')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title="Notes" description="My notes">
  <section>
    <ul>
      {notes.map((note) => (
        <li>
          <time datetime={note.data.pubDate.toISOString()}>
            {new Date(note.data.pubDate).toLocaleDateString('en-us', {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
            })}
          </time>
          <a href={`/notes/${note.slug}`}>{note.data.title}</a>
        </li>
      ))}
    </ul>
  </section>
</Layout>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li time {
    flex: 0 0 130px;
    font-style: italic;
    color: #888;
  }
</style>
