---
import { getCollection } from 'astro:content';
import Card from '~/components/Card.astro';
import Layout from '~/layouts/Layout.astro';

const notes = (await getCollection('notes')).sort(
  (a, b) => b.data.started.valueOf() - a.data.started.valueOf()
);
---

<Layout title="Notes by Geert Eltink" description="My notes">
  <header>
    <h1>Notes</h1>
    <h2 class="text-medium-emphasis">
      Loose, unopinionated notes on things that interest me. Notes are evolving over time and
      hopefully improve.
    </h2>
  </header>

  <div class="grid grid--of-three">
    {
      notes.map((note) => (
        <Card
          href={`/notes/${note.slug}/`}
          title={note.data.title}
          started={note.data.started}
          type="note"
        />
      ))
    }
  </div>
</Layout>
