---
import { getCollection } from 'astro:content';
import Card from '~/components/Card.astro';
import Layout from '~/layouts/Layout.astro';

const notes = (await getCollection('notes')).sort(
  (a, b) => b.data.started.valueOf() - a.data.started.valueOf()
);
---

<Layout title="Notes by Geert Eltink" description="My notes">
  <div class="card-deck">
    {
      notes.map((note) => (
        <Card
          href={`/notes/${note.slug}`}
          title={note.data.title}
          started={note.data.started}
          type="note"
        />
      ))
    }
  </div>
</Layout>

<style scoped>
  .card-deck {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
  }
</style>
