.article-title {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 6vw;
  font-weight: bolder;
  line-height: 1;
}

.article-subtitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}
