@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'bootswatch';
@import 'card-banner';
@import 'page-title';
@import 'timeline';
@import 'u-read-length';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}

.app-footer,
.app-footer a {
  color: $light;
}

.subtitle {
  font-style: italic;
}

.highlight {
  margin-bottom: 1rem;
}

pre {
  padding: 1rem;
}

.icon {
  position: relative;
  display: inline-block;
  width: 1.15rem;
  height: 1.15rem;
  fill: currentColor;
}

svg {
  overflow: hidden;
}
