---
import RelativeDate from './RelativeDate.vue';

export interface Props {
  title: string;
  href: string;
  started: Date;
  type: string;
}

const { href, title, started, type } = Astro.props;
---

<a href={href} class="card">
  <div class="card-inner">
    <h3 class="card-title">
      {title}
    </h3>
    <div class="card-meta">
      <span>{type}</span> &bull;
      <RelativeDate date={started} client:visible />
    </div>
  </div>
</a>

<style scoped>
  .card {
    padding: var(--space-3xs) var(--space-s);
    border-radius: var(--border-radius-base);
    flex: 1 0 0%;
    color: inherit;
  }

  .card:hover {
    transform: scale3d(1.02, 1.02, 1.02);
    background: var(--surface-02dp);
    box-shadow: var(--box-shadow-sm);
  }

  .card-title {
    color: var(--primary);
  }

  .card:hover .card-title {
    color: var(--primary-variant);
  }

  .card-meta {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    color: var(--text-medium-emphasis);
  }
</style>
