---
import { Image } from 'astro:assets';

const { src, alt } = Astro.props;
---

<div class="ratio ratio-21x9">
  <Image src={src} alt={alt} widths={[400, 800, 1280, 1920]} sizes="100vw" />
</div>

<style>
  img,
  picture :global(img),
  svg {
    border-radius: 0.5rem;
  }
</style>
