---
const today = new Date();
---

<footer>
  <div class="container">
    <ul class="footer-menu">
      <li>
        <a href="/notes/">The Notes</a>
      </li>
      <li>
        <a href="/now/">The Present</a>
      </li>
      <li>
        <a href="/about/">The Story</a>
      </li>
      <li>
        <a href="https://github.com/geerteltink">GitHub</a>
      </li>
      <li>
        <a href="https://twitter.com/geerteltink">Twitter</a>
      </li>
      <li>
        <a href="https://www.instagram.com/geerteltink">Instagram</a>
      </li>
    </ul>
  </div>
  <div class="container">
    You can subscribe to the <a href="/feed.xml">RSS feed</a> and stay up to date.
  </div>
  <div class="container">
    &copy; 2002-{today.getFullYear()} Geert Eltink &bull;
    <a href="/privacy-policy/">Privacy Policy</a> &bull;
    <a href="/style-guide/">Style guide</a> &bull; Made with HTML, CSS and generated with Astro.
  </div>
</footer>

<style scoped>
  footer {
    margin-bottom: var(--space-m);
  }

  .footer-menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
    grid-gap: var(--space-s-l);
    overflow: hidden;
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
  }
</style>
