---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;

const navLinks: { label: string; href: string }[] = [
	{ label: 'Notes', href: '/notes/' },
	{ label: 'Now', href: '/now/' },
	{ label: 'About', href: '/about/' },
];
---

<header class="page-header p-3">
  <nav class="container">
    <ul class="flex flex-column flex-row-md flex-align-self-center">
      <li class="flex-grow pr-3">
        <a class="text-decoration-none text-primary" href="/" aria-label="logo">
          <div class="h4 text-bold">Geert Eltink</div>
          <div class="h6">Software engineer and architect</div>
        </a>
      </li>
        {
            navLinks.map(({ label, href }) => (
                <li class="px-3">
                    <a
                        aria-current={Astro.url.pathname === href}
                        class:list={[
                            'h4', 'text-decoration-none', 'text-primary',
                            {
                                active:
                                    Astro.url.pathname === href ||
                                    (href !== '/' && Astro.url.pathname.startsWith(href)),
                            },
                        ]}
                        href={href}
                    >
                        {label}
                    </a>
                </li>
            ))
        }
    </ul>
  </nav>
</header>

<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
