<footer class="app-footer bg-dark mt-5 p-3">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row justify-content-between my-3">
      <div>
        <h3>Availability</h3>
        <p>
          From time to time I’m available for hire to consult, design and develop websites.
          Based in Munich, I travel regularly to work with clients on location.
        </p>
        <p>
          <span class="badge badge-light">AVAILABILITY: Not available any time soon.</span>
        </p>
      </div>
      <div>
        <h3>How can I help?</h3>
        <p>
          For work enquiries send me a <a href="https://twitter.com/geerteltink">tweet</a>.
        </p>
      </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-center my-3 text-center text-md-left">
      <ul class="list-inline">
        <li class="list-inline-item mr-3">
          <a href="https://twitter.com/geerteltink" aria-label="Twitter">{{ partial "fontawesome.html" "twitter" }}</a>
        </li>
        <li class="list-inline-item mr-3">
          <a href="https://github.com/geerteltink" aria-label="GitHub">{{ partial "fontawesome.html" "github" }}</a>
        </li>
        <li class="list-inline-item mr-3">
          <a href="{{ "/blog/index.xml" | absURL }}" aria-label="RSS">{{ partial "fontawesome.html" "rss" }}</a>
        </li>
        <li class="list-inline-item mr-3">
          <a href="/privacy" aria-label="Privacy Policy">{{ partial "fontawesome.html" "user-secret" }}</a>
        </li>
      </ul>
      <div>
        &copy; 1999-{{ now.Year }} Geert Eltink
      </div>
    </div>
  </div>
</footer>
