<footer class="app-footer bg-dark mt-5 p-3">
  <div class="container">
    <div class="d-flex flex-row justify-content-between my-3">
      <ul class="list-inline">
        <li class="list-inline-item mr-3">
          <a href="https://twitter.com/geerteltink" aria-label="Twitter">{{ partial "fontawesome.html" "twitter" }}</a>
        </li>
        <li class="list-inline-item mr-3">
          <a href="https://www.instagram.com/geerteltink/" aria-label="Instagram">{{ partial "fontawesome.html" "instagram" }}</a>
        </li>
        <li class="list-inline-item mr-3">
          <a href="https://github.com/xtreamwayz" aria-label="GitHub">{{ partial "fontawesome.html" "github" }}</a>
        </li>
        <li class="list-inline-item mr-3">
          <a href="mailto:geert.eltink@gmail.com" aria-label="Email">{{ partial "fontawesome.html" "envelope" }}</a>
        </li>
        <li class="list-inline-item mr-3">
          <a href="https://wa.me/34673288434" aria-label="WhatsApp">{{ partial "fontawesome.html" "whatsapp" }}</a>
        </li>
      </ul>
      <ul class="list-inline">
        <li class="list-inline-item">
          &copy; <span class="d-none d-sm-inline-block">1999-</span>{{ now.Year }}
          <span class="d-sm-none">ɡeː</span>
          <span class="d-none d-sm-inline-block">GEERT ELT&#451;NK</span>
        </li>
      </ul>
    </div>
  </div>
</footer>
