{{ define "title" }}Geert Eltink &ndash; Designer/Developer/DevOps{{ end }}
{{ define "main" }}
<main class="app-content">
  <article>
    <header class="bg-primary text-light mb-5">
      <div class="container h-100">
        <div class="row align-items-center h-100" style="min-height: 20vh;">
          <div class="col-10 mx-auto text-center">
            <h1>{{ .Title }}</h1>
            {{ with.Params.subtitle }}
            <span class="subtitle">{{.}}</span>
            {{ end }}
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      {{ .Content }}
    </div>
  </article>
</main>
{{ end }}
