$gray-dark:             #373a3c;
$gray:                  #55595c;
$gray-light:            #818a91;
$gray-lighter:          #eceeef;
$gray-lightest:         #f7f7f9;

$text-color:            $gray-dark;
$text-color-light:      $gray-light;
$text-color-lighter:    $gray-lighter;

$link-color:            #dd4814;

$ui-primary:            #dd4814;
$ui-secondary:          #5c2040;

// Used for versioning assets loaded by css
$core-version:          '2015-11-04';

//== Background and colors
//
//##
$header-color:          #fff;
$footer-bg:             #0c0c0c;
$footer-color:          #a0a0a0;

$fa-css-prefix:         icon;
