<?php

declare(strict_types=1);

return [
    'twig' => [
        'globals' => [
            //'ga_tracking' => '',
        ],
    ],

    'recaptcha' => [
        'site_key' => '',
        'secret_key' => '',
    ],

    'session' => [
        'signature_key'    => '',
        'verification_key' => '',
    ],
];
