<?php

declare(strict_types=1);

return [
    'twig' => [
        'globals' => [
            //'ga_tracking' => '',
        ],
    ],

    'recaptcha' => [
        // These are recaptcha test keys which always validate, use your own secret keys
        'site_key' => '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI',
        'secret_key' => '6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe',
    ],

    'session' => [
        'signature_key'    => '',
        'verification_key' => '',
    ],

    /*
    'monolog' => [
        'handlers' => [
            [
                'type'    => \Monolog\Handler\SlackHandler::class,
                'token'   => '',
                'channel' => '#server-log',
                'name'    => '',
                'level'   => \Monolog\Logger::WARNING,
            ],
        ],
    ],
    */
];
