:root {
  /* stylelint-disable-next-line max-line-length */
  --font-sans-serif: roboto, system-ui, -apple-system, 'Helvetica Neue', arial, sans-serif;
  --font-monospace: consolas, sfmono-regular, menlo, monaco, 'Courier New', monospace;
  --gradient: linear-gradient(180deg, rgb(255 255 255 / 15%), rgb(255 255 255 / 0%));

  --body-font-family: var(--font-sans-serif);
  --body-font-weight: 400;
  --body-line-height: 1.7;

  --background: #1f1c19;
  --surface: #1d1d1d;
  --surface-02dp: rgba(255, 255, 255, 0.07);
  --surface-03dp: rgba(255, 255, 255, 0.08);
  --surface-04dp: rgba(255, 255, 255, 0.09);
  --surface-06dp: rgba(255, 255, 255, 0.11);
  --surface-08dp: rgba(255, 255, 255, 0.12);
  --surface-12dp: rgba(255, 255, 255, 0.14);
  --surface-16dp: rgba(255, 255, 255, 0.15);
  --surface-24dp: rgba(255, 255, 255, 0.16);

  --primary: #ff9b00;
  --primary-variant: #ffcc80;
  --secondary: #90caf9;
  --secondary-variant: #2196f3;

  --text-high-emphasis: rgba(255, 255, 255, 0.97);
  --text-medium-emphasis: rgba(203, 201, 200, 0.9);
  --text-low-emphasis: rgba(120, 120, 120, 0.9);
  --text-disabled: rgba(255, 255, 255, 0.38);

  --box-shadow-sm: 0.2px 0.2px 0.8px -10px rgba(40, 10, 0, 0.014),
    0.4px 0.4px 2px -10px rgba(40, 10, 0, 0.02), 0.8px 0.8px 3.8px -10px rgba(40, 10, 0, 0.025),
    1.3px 1.3px 6.7px -10px rgba(40, 10, 0, 0.03), 2.5px 2.5px 12.5px -10px rgba(40, 10, 0, 0.036),
    6px 6px 30px -10px rgba(40, 10, 0, 0.05);

  --box-shadow-md: 1px 0.9px 2.3px -3px rgba(30, 10, 10, 0.04),
    2.4px 2.2px 5.5px -3px rgba(30, 10, 10, 0.05), 4.5px 4.1px 10.4px -3px rgba(30, 10, 10, 0.06),
    8px 7.4px 18.5px -3px rgba(30, 10, 10, 0.07), 15px 13.8px 34.7px -3px rgba(30, 10, 10, 0.08),
    36px 33px 83px -3px rgba(30, 10, 10, 0.2);

  --box-shadow-lg: 0.2px 0.4px 0.8px -10px rgba(0, 0, 0, 0.03),
    0.4px 0.9px 2px -10px rgba(0, 0, 0, 0.03), 0.8px 1.8px 3.8px -10px rgba(0, 0, 0, 0.038),
    1.3px 3.1px 6.7px -10px rgba(0, 0, 0, 0.045), 2.5px 5.8px 12.5px -10px rgba(0, 0, 0, 0.06),
    6px 14px 30px -10px rgba(0, 0, 0, 0.08);
}
